.app-container {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.card {
  flex: 0 0 calc(25% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2px;
  margin-bottom: 15px;
}

.card img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
}

.card h3 {
  margin: 0.5rem 0;
}

.card p {
  margin: 0.5rem 0;
  flex-grow: 1;
}


.btn {
  cursor: pointer;
  margin-top: auto;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .card {
    flex: 0 0 calc(33.333% - 1rem);

  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%;
  }
}